@media screen and (max-width: 1170px) {
    
    #back {
    background-image: url(man-2.jpg);
    width: 100vw;
    height: 100vh;
    position: relative;
}
    #front {
    position:absolute; 
    top: 50%; 
    left: 70%;
    color: white;
    font-size: 15px;
    font-weight: 900;
    
}
    #frontend {
    font-size: 22px;
}
}

@media screen and (max-width: 992px) {

    
    #back {
    background-image: url(man-1.jpg);
    background-size: cover;
    width: 100vw;
    height: 70vh;
    position: relative;
    

}
    #front {
    position: absolute;
    color: black;
    font-size: 15px;
    top: 120%;
    transform: translateY(-50%);
    text-align: center;
    left: 400px;
    
}
    #frontend {
    font-size: 22px;
}
}